<div class="chats-wrapper">
<div class="chat-wrapper" *ngFor="let user of usersList">
  <div class="status-bar" >
    <div class="change-user">
      <div>Выбранный пользователь: {{user}}
          <select (change)="this.changeUser()">
            <option *ngFor="let user of usersList" (ngModel)="userType">
              {{user}}
            </option>
          </select>
      </div>
    </div>
  </div>
  
  <div class="message-wrapper">
    <div *ngFor="let message of result">
      <div class="message-sender-name">{{ message.user }}</div>
      <div class="message-text">{{ message.message }}</div>
    </div>
  </div>
  
  <div class="message-send-wrapper" >
    <div [(ngModel)]="message" ngDefaultControl>
      <input type="text" placeholder="Введите сообщение" class="input-message" rows="6" >
    </div>
    <div class="send-btn" (click)="userType=user; this.sendMessage();">Отправить</div>
    <div class="delete-btn" (click)="userType=user; this.deleteMes(userType)">УДАЛИТЬ</div>
  </div>
  
</div>
</div>