    <app-chat></app-chat>

    <div class="wrapper-chat-control">
        <div>Добавить пользователя: </div>
        <input placeholder="Введите имя" [(ngModel)]="newUser"/>
        <button (click)="this.addUser(newUser)">Добавить</button>
        <div>Удалить пользователя: </div>
        <select (change)="this.changeUser()">
            <option *ngFor="let user of usersList" (ngModel)="userType">
                {{user}}
            </option>
        </select>
    </div>
